body{
    background-color: rgba(195, 242, 162, 0.751);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tarjeta{
    width: 50%;
    height: 200px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
}
.tarjeta:hover{
    opacity: 0.7;
}